.contentiifyIcon {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 664.25px);
  width: 161.89px;
  height: 28px;
}
.features,
.icon {
  position: relative;
}
.features {
  line-height: 14px;
}
.icon {
  width: 8.13px;
  height: 4.62px;
  mix-blend-mode: normal;
}
.platform,
.products {
  height: 72px;
  box-sizing: border-box;
}
.products {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 97.05px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xl) 15px;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.platform {
  width: 95.75px;
  gap: var(--gap-8xs);
}
.platform,
.pricing {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xl) var(--padding-xs);
  align-items: center;
  justify-content: center;
}
.catgory,
.catgoryWrapper,
.contentiifyParent {
  position: absolute;
  top: calc(50% - 36px);
  height: 72px;
}
.catgory {
  left: calc(50% - 324.5px);
  width: 553px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.catgoryWrapper,
.contentiifyParent {
  left: calc(50% - 362.25px);
  width: 615px;
}
.contentiifyParent {
  left: calc(50% - 663.5px);
  width: 1328.5px;
}
.frameWrapper {
  position: absolute;
  top: calc(50% - 35.77px);
  left: 133px;
  width: 1325px;
  height: 72px;
}
.vectorIcon {
  height: 100%;
  width: 22.61%;
  top: 0;
  right: 77.39%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.english,
.icon2,
.vectorIcon {
  position: absolute;
}
.english {
  top: 0;
  left: 28px;
  line-height: 20px;
  font-weight: 500;
}
.icon2 {
  top: 8px;
  left: 79.89px;
  width: 8.13px;
  height: 4.62px;
}
.vectorParent {
  position: relative;
  width: 88.47px;
  height: 20px;
}
.login1 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
}
.login {
  position: absolute;
  height: calc(100% - 44px);
  top: 22.23px;
  right: 255px;
  bottom: 21.77px;
  width: 227px;
  display: flex;
  flex-direction: row;
  padding: 0 23px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  text-align: center;
  font-size: var(--font-size-sm);
}
.buttonactButton {
  position: absolute;
  top: 0;
  right: 0;
}
.buttonactButtonWrapper {
  position: absolute;
  height: calc(100% - 32px);
  top: 16.23px;
  right: 91px;
  bottom: 15.77px;
  width: 129px;
}
.vectorStrokeIcon {
  position: absolute;
  height: calc(100% - 51px);
  top: 22.5px;
  right: 34px;
  bottom: 28.5px;
  max-height: 100%;
  width: 21px;
  display: none;
}
.frameParent {
  position: relative;
  width: 1920px;
  height: 72px;
}
.contentifyDraft20230521Inner {
  align-self: stretch;
  background-color: var(--color-darkslategray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: -5px;
}
.teamUpWith {
  margin: 0;
}
.teamUpWithContainer1 {
  line-break: anywhere;
  width: 100%;
}
.teamUpWithContainer,
.with870IntegrationsContainer {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.teamUpWithContainer {
  top: 0;
  line-height: 40px;
  font-family: var(--font-poppins);
  width: 305.68px;
  height: 85px;
}
.with870IntegrationsContainer {
  top: 101px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  width: 336.62px;
  height: 107px;
}
.viewAllApps {
  position: absolute;
  top: 231px;
  left: 5px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
}
.div {
  position: absolute;
  top: 237px;
  left: 105.89px;
  font-size: var(--font-size-sm);
  line-height: 14px;
  font-family: var(--font-font-awesome-5-free);
  text-align: right;
}
.appsGroup768x366pngIcon {
  position: absolute;
  top: calc(50% - 137.74px);
  left: calc(50% - 76.19px);
  width: 584.38px;
  height: 278.48px;
  object-fit: cover;
}
.teamUpWithYourFavoriteAppParent {
  position: absolute;
  top: calc(50% - 143.53px);
  left: calc(50% - 510px);
  width: 1016.38px;
  height: 281.48px;
}
.body {
  align-self: stretch;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 352px;
  margin-top: -5px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
}
.noCreditCard,
.tryItNow {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 364.58px;
  height: 56px;
}
.noCreditCard {
  top: 70px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-ibm-plex-sans);
  width: 308.56px;
  height: 23px;
}
.emailAddress,
.tryItNowForFreeParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 364.58px;
  height: 93px;
}
.emailAddress {
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 126.31px;
  height: 25px;
}
.divplaceholder {
  position: absolute;
  top: 19.5px;
  left: 16px;
  width: 274.47px;
  height: 25px;
  overflow: hidden;
}
.inputacInput {
  position: absolute;
  width: calc(100% - 233.53px);
  top: 0;
  right: 233.53px;
  left: 0;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  background-color: var(--color-white);
  height: 64px;
}
.startYourFree {
  position: relative;
  line-height: 32px;
}
.buttonactButton1 {
  position: absolute;
  top: 0;
  left: 306.47px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: var(--color-mediumblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 35.47999954223633px var(--padding-base)
    35.04999923706055px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-white);
}
.inputacInputParent {
  position: absolute;
  top: 26px;
  left: 540px;
  width: 540px;
  height: 64px;
  font-size: var(--font-size-lgi-2);
  color: var(--color-lightslategray);
  font-family: var(--font-ibm-plex-sans);
}
.frameGroup {
  position: absolute;
  top: calc(50% - 63.56px);
  left: calc(50% - 540px);
  width: 1080px;
  height: 93px;
}
.body1,
.footer {
  align-self: stretch;
  position: relative;
  margin-top: -5px;
}
.body1 {
  background-color: var(--color-darkslategray-200);
  height: 216px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-poppins);
}
.footer {
  height: 1119.95px;
}
.contentifyDraft20230521 {
  position: relative;
  background-color: #f1f3f3;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 100%;
  height: 9575px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-ibm-plex-sans);
}
@media screen and (max-width: 1200px) {
  .login {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .vectorStrokeIcon {
    display: flex;
  }
}
@media screen and (max-width: 1188px) {
  .buttonactButtonWrapper {
    display: none;
  }
}
@media screen and (max-width: 1289px) {
  .buttonactButtonWrapper {
    display: none;
  }
}
@media screen and (max-width: 1493px) {
  .buttonactButtonWrapper {
    display: flex;
  }
}
@media screen and (max-width: 1148px) {
  .vectorStrokeIcon {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  .buttonactButtonWrapper {
    display: none;
  }
}
@media screen and (max-width: 1410px) {
  .login {
    display: none;
  }
}
@media screen and (max-width: 1182px) {
  .catgoryWrapper {
    display: none;
  }
  .vectorStrokeIcon {
    display: flex;
  }
}
