.emailmarketingpngIcon {
  position: absolute;
  top: 0;
  left: calc(50% + 34px);
  width: 496px;
  height: 524.47px;
  object-fit: cover;
}
.personalizedEmailMarketing {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.6px;
  line-height: 28px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 255.54px;
  height: 18px;
  flex-shrink: 0;
}
.sendExactlyWhat {
  margin: 0;
}
.sendExactlyWhatContainer1 {
  line-break: anywhere;
  width: 100%;
}
.craftEmailNewslettersContainer,
.sendExactlyWhatContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sendExactlyWhatContainer {
  font-size: var(--font-size-17xl);
  line-height: 48.6px;
  font-family: var(--font-poppins);
  width: 433.54px;
  height: 99.6px;
}
.craftEmailNewslettersContainer {
  font-size: var(--font-size-lg);
  line-height: 28px;
  width: 517.31px;
  height: 79px;
}
.spanelementorDividerSeparat {
  position: relative;
  border-top: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 30px;
  height: 2px;
}
.readTheReport {
  color: var(--color-mediumturquoise);
}
.contactListSizesContainer,
.emailMarketing {
  line-height: 24px;
  display: flex;
  align-items: center;
}
.contactListSizesContainer {
  position: relative;
  font-weight: 600;
  width: 376.56px;
  height: 44px;
  flex-shrink: 0;
}
.emailMarketing {
  position: absolute;
  top: 0;
  left: 22.16px;
  width: 116.65px;
  height: 20px;
}
.vectorIcon {
  position: absolute;
  height: 20.46%;
  width: 3.48%;
  top: 14.96%;
  right: 96.52%;
  bottom: 64.58%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dynamicContent {
  position: absolute;
  top: 29px;
  left: 22.16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 121.39px;
  height: 20px;
}
.vectorIcon1 {
  position: absolute;
  height: 20.46%;
  width: 3.48%;
  top: 70.72%;
  right: 96.52%;
  bottom: 8.82%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.segmentation {
  position: absolute;
  top: 0;
  left: 209.35px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 100.4px;
  height: 20px;
}
.vectorIcon2 {
  position: absolute;
  height: 20.46%;
  width: 3.48%;
  top: 14.96%;
  right: 47.64%;
  bottom: 64.58%;
  left: 48.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.successfulDeliverability {
  position: absolute;
  top: 29px;
  left: 209.35px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 173.62px;
  height: 20px;
}
.vectorIcon3 {
  position: absolute;
  height: 20.46%;
  width: 3.48%;
  top: 70.72%;
  right: 47.64%;
  bottom: 8.82%;
  left: 48.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.emailMarketingParent {
  position: relative;
  width: 382.97px;
  height: 49px;
}
.personalizeYourEmail {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.aelementorButtonLink {
  border-radius: var(--br-10xs);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 221px;
  height: 52px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-mediumturquoise);
}
.personalizedEmailMarketingParent {
  position: absolute;
  top: 13.27px;
  left: calc(50% - 530px);
  width: 517.31px;
  height: 498.52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}
.content {
  position: relative;
  width: 1060px;
  height: 524.47px;
  z-index: 1;
}
.object,
.objectChild {
  position: absolute;
  bottom: 0;
  left: calc(50% - 1498px);
  width: 3020px;
  height: 702px;
}
.object {
  margin: 0 !important;
  bottom: 0.35px;
  left: calc(50% - 1510px);
  z-index: 0;
}
.body {
  align-self: stretch;
  height: 703px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-81xl) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-top: -5px;
}
.teamUpWithContainer,
.with870IntegrationsContainer {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.teamUpWithContainer {
  top: 0;
  line-height: 40px;
  font-family: var(--font-poppins);
  width: 305.68px;
  height: 85px;
}
.with870IntegrationsContainer {
  top: 101px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  width: 336.62px;
  height: 107px;
}
.viewAllApps {
  position: absolute;
  top: 231px;
  left: 5px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
}
.div {
  position: absolute;
  top: 237px;
  left: 105.89px;
  font-size: var(--font-size-sm);
  line-height: 14px;
  font-family: var(--font-font-awesome-5-free);
  text-align: right;
}
.appsGroup768x366pngIcon {
  position: absolute;
  top: calc(50% - 137.74px);
  left: calc(50% - 76.19px);
  width: 584.38px;
  height: 278.48px;
  object-fit: cover;
}
.teamUpWithYourFavoriteAppParent {
  position: absolute;
  top: calc(50% - 143.53px);
  left: calc(50% - 510px);
  width: 1016.38px;
  height: 281.48px;
}
.body1 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 352px;
  margin-top: -5px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
}
.noCreditCard,
.tryItNow {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 364.58px;
  height: 56px;
}
.noCreditCard {
  top: 70px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-ibm-plex-sans);
  width: 308.56px;
  height: 23px;
}
.emailAddress,
.tryItNowForFreeParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 364.58px;
  height: 93px;
}
.emailAddress {
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 126.31px;
  height: 25px;
}
.divplaceholder {
  position: absolute;
  top: 19.5px;
  left: 16px;
  width: 274.47px;
  height: 25px;
  overflow: hidden;
}
.inputacInput {
  position: absolute;
  width: calc(100% - 233.53px);
  top: 0;
  right: 233.53px;
  left: 0;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  background-color: var(--color-white);
  height: 64px;
}
.startYourFree {
  position: relative;
  line-height: 32px;
}
.buttonactButton {
  position: absolute;
  top: 0;
  left: 306.47px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: var(--color-mediumblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 35.47999954223633px var(--padding-base)
    35.04999923706055px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-white);
}
.inputacInputParent {
  position: absolute;
  top: 26px;
  left: 540px;
  width: 540px;
  height: 64px;
  font-size: var(--font-size-lgi-2);
  color: var(--color-lightslategray);
  font-family: var(--font-ibm-plex-sans);
}
.frameParent {
  position: absolute;
  top: calc(50% - 63.56px);
  left: calc(50% - 540px);
  width: 1080px;
  height: 93px;
}
.body2,
.footer {
  align-self: stretch;
  position: relative;
  margin-top: -5px;
}
.body2 {
  background-color: var(--color-darkslategray-200);
  height: 216px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.footer {
  height: 1119.95px;
}
.contentifyDraft20230521 {
  position: relative;
  background-color: #f1f3f3;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 100%;
  height: 9564px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-ibm-plex-sans);
}
@media screen and (max-width: 1200px) {
  .body {
    flex: 1;
  }
}
