.empowerYourBusiness {
  margin: 0;
}
.empowerYourBusinessContainer1 {
  line-break: anywhere;
  width: 100%;
}
.empowerYourBusinessContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 81.1px;
  display: flex;
  align-items: center;
}
.groupChild {
  position: absolute;
  height: 47.74%;
  width: 59.72%;
  top: 52.51%;
  right: 22.52%;
  bottom: -0.25%;
  left: 17.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.empowerYourBusinessWithVirParent {
  position: absolute;
  height: 43.52%;
  width: 99.74%;
  top: 0;
  right: 0;
  bottom: 56.48%;
  left: 0.26%;
  font-family: var(--font-poppins);
}
.theSocialMediaContainer {
  position: absolute;
  top: 198.6px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 776.5px;
}
.getViral {
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.buttonactButton,
.tryItFree {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.buttonactButton {
  top: 298.1px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumturquoise);
  height: 48px;
  flex-direction: row;
  padding: var(--padding-5xs) 44.51000213623047px var(--padding-5xs)
    var(--padding-26xl);
  box-sizing: border-box;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
}
.tryItFree {
  top: 381.6px;
  font-size: var(--font-size-sm);
  line-height: 17.5px;
  width: 776.5px;
}
.groupParent {
  position: absolute;
  margin: 0 !important;
  top: 22.4px;
  left: 111px;
  width: 799.51px;
  height: 399.6px;
  z-index: 0;
}
.frameParent,
.imageIcon {
  position: relative;
  z-index: 1;
}
.imageIcon {
  width: 927.82px;
  height: 1019px;
  object-fit: cover;
}
.frameParent {
  height: 431px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--padding-935xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-46xl);
}
.maskGroupIcon {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  top: 126px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 372px;
  object-fit: cover;
  z-index: 0;
}
.background {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.body,
.curve {
  display: flex;
  flex-direction: column;
}
.curve {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  top: 503.97px;
  right: 0;
  left: 0;
  height: 490px;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.body {
  align-self: stretch;
  background-color: var(--color-darkslategray-200);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  height: 994px;
  padding: 0 var(--padding-63xl) var(--padding-445xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-gray-100);
  font-family: var(--font-ibm-plex-sans);
}
@media screen and (max-width: 960px) {
  .body {
    align-self: stretch;
    width: auto;
    flex-direction: column;
    padding-bottom: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .body {
    display: flex;
    align-self: stretch;
    width: auto;
    flex-direction: column;
  }
}
