.bodyChild,
.maskGroupIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.maskGroupIcon {
  width: 100%;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  height: 881px;
  object-fit: cover;
}
.bodyChild {
  background-color: var(--color-mediumturquoise);
  width: 1920px;
  height: 557px;
  display: none;
}
.the1Content {
  position: absolute;
  top: 0;
  left: 117px;
  font-size: var(--font-size-25xl);
  line-height: 52px;
  display: flex;
  color: var(--color-gray-300);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 846px;
  height: 61px;
}
.agency,
.ecommerce,
.marketing,
.sales {
  position: absolute;
  top: 253.63px;
  left: 0;
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 81.98px;
  height: 41px;
}
.agency,
.ecommerce,
.marketing {
  top: 317.63px;
  width: 182.68px;
}
.agency,
.marketing {
  top: 381.63px;
  width: 116.9px;
}
.marketing {
  top: 189.63px;
  width: 157.43px;
}
.sectionelementorSection {
  position: absolute;
  width: calc(100% - 1201.61px);
  top: calc(50% - 65.16px);
  right: 1201.61px;
  left: 0;
  border-bottom: 1px solid var(--color-slategray);
  box-sizing: border-box;
  height: 56px;
}
.divelementorWidgetContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 262.39px;
  height: 47px;
  overflow: hidden;
}
.sectionelementorSection1,
.sectionelementorSection2,
.sectionelementorSection3 {
  position: absolute;
  width: calc(100% - 1201.61px);
  top: calc(50% - 1.16px);
  right: 1201.61px;
  left: 0;
  border-bottom: 1px solid var(--color-slategray);
  box-sizing: border-box;
  height: 56px;
}
.sectionelementorSection2,
.sectionelementorSection3 {
  top: calc(50% + 62.84px);
}
.sectionelementorSection3 {
  top: calc(50% + 126.84px);
}
.divytpCuedThumbnailOverlayIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.divytpCuedThumbnailOverlayIcon,
.divytpGradientTopIcon,
.svgIcon {
  position: absolute;
  overflow: hidden;
}
.divytpGradientTopIcon {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: 99px;
  object-fit: cover;
}
.svgIcon {
  top: 337px;
  left: 548px;
  width: 110px;
  height: 26px;
  opacity: 0.9;
}
.marketingAndSales {
  position: relative;
  line-height: 23.4px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.aytpTitleLink,
.divytpTitleText {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.divytpTitleText {
  flex: 1;
  padding: var(--padding-2xl) 0 15.189998626708984px var(--padding-31xl);
}
.divytpTitle,
.svgIcon1 {
  position: absolute;
  overflow: hidden;
}
.divytpTitle {
  top: 0;
  right: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svgIcon1 {
  top: 6px;
  left: 22px;
  width: 36px;
  height: 36px;
}
.div1 {
  position: relative;
  line-height: 18.2px;
  font-weight: 500;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.div,
.divytpCopylinkTitle {
  position: absolute;
  overflow: hidden;
}
.divytpCopylinkTitle {
  top: 41px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0.1900005340576172px var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  top: 0;
  left: 560px;
  width: 80px;
  height: 60.19px;
  opacity: 0.9;
  text-align: center;
  font-size: var(--font-size-sm);
}
.activecampaignIcon {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: var(--br-xl);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.divytpTitleChannel {
  position: absolute;
  top: 7px;
  left: -5px;
  border-radius: var(--br-6xl);
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.divytpChromeTop {
  position: absolute;
  height: calc(100% - 318.81px);
  width: calc(100% - 24px);
  top: 0;
  right: 12px;
  bottom: 318.81px;
  left: 12px;
}
.iframe,
.youtube {
  position: absolute;
  overflow: hidden;
}
.youtube {
  height: calc(100% + 0.11px);
  width: calc(100% + 0.41px);
  top: 0;
  right: -0.41px;
  bottom: -0.11px;
  left: 0;
  background-color: var(--color-black);
}
.iframe {
  height: calc(100% - 125.69px);
  width: calc(100% - 790.41px);
  top: 125.69px;
  right: 384.02px;
  bottom: 0;
  left: 406.39px;
  font-size: var(--font-size-lg);
  color: var(--color-whitesmoke-300);
  font-family: var(--font-roboto);
}
.thanksForChatting {
  margin: 0;
}
.thanksForChattingContainer {
  position: relative;
  line-height: 20px;
}
.chatMessageFromActivecampai,
.span {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.span {
  padding: var(--padding-xs) var(--padding-7xl) var(--padding-xs)
    var(--padding-xs);
}
.chatMessageFromActivecampai {
  position: absolute;
  top: calc(50% + 25.71px);
  left: 1148px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 7px 6px 1px rgba(0, 0, 0, 0.16);
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  font-family: var(--font-open-sans);
}
.closeDriftWidgetMessengerP {
  position: absolute;
  top: 271px;
  right: 312px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
}
.divdriftWidgetAvatarIcon {
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.divdriftWidgetAvatarIcon,
.divdriftWidgetControllerIc,
.divdriftWidgetRecipientAva {
  position: absolute;
  border-radius: var(--br-9xl);
  overflow: hidden;
}
.divdriftWidgetRecipientAva {
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  background-color: var(--color-white);
  width: 56px;
  height: 56px;
}
.divdriftWidgetControllerIc {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-mediumblue);
}
.div2 {
  position: absolute;
  top: 0;
  left: 5.56px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 7.08px;
  height: 17px;
}
.divdriftControllerIconUnre {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: var(--br-4xs);
  background-color: var(--color-firebrick);
  width: 18px;
  height: 18px;
}
.openChatWithActivecampaign {
  position: absolute;
  top: 306px;
  left: 1408px;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-800);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.16);
  width: 56px;
  height: 56px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.the1ContentGenerationPlatParent {
  position: absolute;
  top: calc(50% - 277.01px);
  left: calc(50% - 540px);
  width: 1464px;
  height: 504.58px;
}
.body {
  align-self: stretch;
  flex: 1;
  position: relative;
  margin-top: -5px;
  text-align: left;
  font-size: var(--font-size-10xl-6);
  color: var(--color-gray-600);
  font-family: var(--font-poppins);
}
