.startForFree {
  text-decoration: underline;
}
.startForFreeToday {
  color: inherit;
}
.heyThereFreeContainer {
  position: relative;
  line-height: 17.5px;
}
.sectionelementorSection {
  align-self: stretch;
  background-color: var(--color-orange);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentiifyIcon {
  position: absolute;
  top: calc(50% - 14px);
  left: 0;
  width: 161.89px;
  height: 28px;
}
.features,
.icon {
  position: relative;
}
.features {
  line-height: 14px;
}
.icon {
  width: 8.13px;
  height: 4.62px;
  mix-blend-mode: normal;
}
.platform,
.products {
  height: 72px;
  box-sizing: border-box;
}
.products {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 97.05px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xl) var(--padding-mini);
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.platform {
  width: 95.75px;
  gap: var(--gap-8xs);
}
.platform,
.pricing {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xl) var(--padding-xs);
  align-items: center;
  justify-content: center;
}
.catgory,
.catgoryWrapper {
  position: absolute;
  height: 72px;
}
.catgory {
  top: calc(50% - 36px);
  left: calc(50% - 324.5px);
  width: 553px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}
.catgoryWrapper {
  top: 0;
  left: calc(50% - 332.25px);
  width: 615px;
}
.cateInner,
.contentiifyParent {
  position: absolute;
  top: calc(50% - 36px);
  width: 1328.5px;
  height: 72px;
}
.contentiifyParent {
  left: calc(50% - 664.25px);
}
.cateInner {
  margin: 0 !important;
  left: 44px;
  z-index: 0;
}
.vectorIcon {
  height: 100%;
  width: 22.61%;
  top: 0;
  right: 77.39%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.english,
.icon2,
.vectorIcon {
  position: absolute;
}
.english {
  top: 0;
  left: 28px;
  line-height: 20px;
  font-weight: 500;
}
.icon2 {
  top: 8px;
  left: 79.89px;
  width: 8.13px;
  height: 4.62px;
}
.vectorParent {
  position: relative;
  width: 88.47px;
  height: 20px;
}
.login1 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
}
.login {
  margin: 0 !important;
  position: absolute;
  height: calc(100% - 44px);
  top: 22px;
  right: 270px;
  bottom: 22px;
  width: 227px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-4xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-sm);
}
.buttonactButton {
  position: absolute;
  top: 0;
  right: 0;
}
.buttonactButtonWrapper,
.vectorStrokeIcon {
  position: absolute;
  margin: 0 !important;
  height: calc(100% - 32px);
  top: 16px;
  right: 106px;
  bottom: 16px;
  width: 129px;
  z-index: 2;
}
.vectorStrokeIcon {
  height: calc(100% - 51px);
  top: 25.5px;
  right: 49px;
  bottom: 25.5px;
  max-height: 100%;
  width: 21px;
  display: none;
  z-index: 3;
}
.cate {
  position: absolute;
  width: 100%;
  top: calc(50% - 36px);
  right: 0;
  left: 0;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cateWrapper {
  align-self: stretch;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 72px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.top {
  align-self: stretch;
  background-color: var(--color-gray-700);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  text-align: center;
  font-size: var(--font-size-sm);
  color: inherit;
  font-family: var(--font-ibm-plex-sans);
}
@media screen and (max-width: 1200px) {
  .sectionelementorSection {
    mix-blend-mode: normal;
    background-color: var(--color-orange-100);
    align-self: stretch;
    width: auto;
    flex-direction: column;
    gap: var(--gap-0);
  }
  .login {
    display: none;
  }
  .top {
    gap: var(--gap-8xs);
  }
}
@media screen and (max-width: 960px) {
  .sectionelementorSection {
    display: none;
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .vectorStrokeIcon {
    display: flex;
  }
  .cate {
    gap: var(--gap-59xl);
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .top {
    display: flex;
    gap: var(--gap-8xs);
  }
}
@media screen and (max-width: 420px) {
  .sectionelementorSection {
    display: none;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0;
    box-sizing: border-box;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1188px) {
  .buttonactButtonWrapper {
    display: none;
  }
}
@media screen and (max-width: 1289px) {
  .buttonactButtonWrapper {
    display: none;
  }
}
@media screen and (max-width: 1493px) {
  .buttonactButtonWrapper {
    display: flex;
  }
}
@media screen and (max-width: 1148px) {
  .vectorStrokeIcon {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  .buttonactButtonWrapper {
    display: none;
  }
}
@media screen and (max-width: 1410px) {
  .login {
    display: none;
  }
}
@media screen and (max-width: 1182px) {
  .catgoryWrapper {
    display: none;
  }
  .vectorStrokeIcon {
    display: flex;
  }
}
